* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar-anchor,
.navbar-button,
.nav-menu,
.google-font-button,
h5,
h1 {
  font-family: "Poppins", sans-serif;
}

p,
small {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

/* navbar section */
.navbar-button {
  background-color: white;
  color: #289bde;
  border: 0.63 solid #289bde;
  border-radius: 0.313rem;
  padding: 0.8rem 2.063rem;
  font-size: 1rem;
}
/* navbar section */

/*-------------- 
    banner
  ------------*/
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}
.carousel-caption h5 {
  font-size: 3.7rem;
  font-weight: 500;
}
.carousel-caption p {
  font-size: 1.125rem;
  top: 2rem;
}
.banner-button-bg {
  background-color: #289bde;
  color: white;
  border: none;
  padding: 0.563rem 1.25rem;
  border-radius: 0.313rem;
  font-size: 1rem;
}
/*-------------- 
    banner
  ------------*/

/* Discover Our Popular Courses */
.discover-p {
  color: #777;
}
.text-color {
  color: #289bde;
}
.discover-button-show {
  display: none;
}
/* Discover Our Popular Courses */

/* Explore The elearning Institute */
.explore-bg {
  background-color: #f4fafd;
}
.explore-units-margin {
  margin-right: 4.118rem;
}
.explore-my {
  margin: 6.125rem auto;
}
/* Explore The elearning Institute */

/* Ready to join */
.ready-join-bg {
  background-color: #289bde;
}
.ready-join-fs {
  font-size: 2.813rem;
}
.ready-join-button {
  background-color: white;
  color: #289bde;
  border: none;
  padding: 0.5rem 2.063rem;
  border-radius: 0.313rem;
}
/* Ready to join */

/* Meet Our Successfull Students */
.Successfull-Students-fs {
  font-size: 2.813rem;
}
.student-dark-p {
  color: #777;
}
.student-btn {
  background-color: #289bde;
  color: white;
  border: none;
  padding: 0.5rem 2.063rem;
  border-radius: 0.313rem;
}
.student-m {
  margin: 5.125rem auto;
}
/* Meet Our Successfull Students */

/* Some Students Feedback */
.feedback-dark-p {
  color: #777;
}
.feedback-student-card {
  width: 648px;
}
.student-dark-m {
  margin-bottom: 0.1rem;
}
.feedback-star-color {
  color: #fbbf24;
}
/* Some Students Feedback */

/* Trusted by over 800+ companies */
.Trusted-m {
  margin-right: 3.4rem;
}
/* Trusted by over 800+ companies */

@media screen and (min-width: 769px) and (max-width: 992px) {
  .ready-flex {
    flex-direction: column;
    text-align: center;
  }
  .ready-flex-2 {
    margin-right: 150px;
  }

  .explore-img img {
    height: 70vh;
  }
  .student-margin {
    margin-top: 1.25rem;
  }
  .Frequently-d-none {
    display: none;
  }
  .discover-button-none {
    display: none;
  }
  .discover-button-show {
    display: initial;
    margin-top: -50px;
  }
  .student-btn {
    margin-top: 20px;
  }
}
