* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
}
.carousel-caption {
}
.navbar-anchor,
.navbar-button,
.nav-menu,
.google-font-button,
h5,
h1,
h4,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
small {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
.navbar-button {
  background-color: white;
  color: #289bde;
  border: 2px solid #289bde;
  border-radius: 0.313rem;
  padding: 0.8rem 2.063rem;
  font-size: 1rem;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}
.banner-button-bg {
  background-color: #289bde;
  color: white;
  border: none;
  padding: 0.563rem 1.25rem;
  border-radius: 0.313rem;
  font-size: 1rem;
}
.common-dark-color {
  color: #777;
}
.text-color {
  color: #289bde;
}
.explore-bg {
  background-color: #f4fafd;
}
.explore-units-margin {
  margin-right: 4.118rem;
}
.explore-my {
  margin: 6.125rem auto;
}

.ready-join-bg {
  background-color: #289bde;
}
.ready-join-button {
  background-color: white;
  color: #289bde;
  border: none;
  padding: 0.5rem 2.063rem;
  border-radius: 0.313rem;
}
.modal-page {
  width: 350px;
  height: 250px;
}
.Successfull-Students-fs {
  font-size: 2.813rem;
}
.student-btn {
  background-color: #289bde;
  color: white;
  border: none;
  padding: 0.5rem 2.063rem;
  border-radius: 0.313rem;
}
.student-m {
  margin: 5.125rem auto;
}
.feedback-student-card {
  width: 648px;
}
.student-dark-m {
  margin-bottom: 0.1rem;
}
.feedback-star-color {
  color: #fbbf24;
}
.banner-h-100 {
  height: 95%;
}

@media screen and (max-width: 769px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .explore-ellipsis {
    width: 308px;
    height: 105px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ready-m {
    margin: 0px auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .ready-m {
    margin: 0px auto;
  }
}
